@import "../../app.scss";

.navbar {
  height: 100px;
  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around; //Space Between
    height: 100%;
    
    p{
      font-size: 24px;
      font-weight: 800;

      @include mobile {
        font-size: 16px;
        padding-right: 15px;
      }
    }

    @include mobile {
      justify-content: flex-end;
      padding: 10px;
    }
    h2{
      @include mobile {
        font-size: 12px;
        padding-right: 2px;
      }
    }

    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }
    .social {
      display: flex;
      gap: 20px;

      @include mobile {
        gap: 10px;
      }

      img {
        width: 18px;
        height: 18px;

        @include mobile {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
